/* GALLERY */

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 30rem);
  gap: 1.5rem;
  margin-bottom: 3rem;
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-img-3 {
  grid-column: 2/4;
  grid-row: 1/3;
}

/* MEDIAQUERIES 768Ppx */ 

@media (max-width: 768px) {

  .gallery {
    grid-template-rows: repeat(2, 15rem);
  }
}

