.top-products {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 3rem;
  padding: 2rem 0;

}


.starscard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}



.container-options {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 1rem;

}

.container-options span {
  color: #777;
  background-color: #fff;
  padding: .7rem 3rem;
  font-size: 1.4rem;
  text-transform: capitalize;
  border-radius: 2rem;
  cursor: pointer;
}

.container-options span:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.container-options span.active {
  background-color: var(--primary-color);
  color: #fff;
}

/* PRODUCTS */



.container-products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 3rem;
}

.card-top-product {
  background-color: #fff;
  padding: 2rem 3rem;
  border-radius: .5rem;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}


.container-img img {
  justify-content: center;
  width: 100%;
  position: relative;
  border-radius: 5px;

}



.button-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  position: absolute;
  top: 0;
  /* right: -3rem; */
  z-index: -1;
  transition: all .4s ease;
}

.button-group span {
  border: 1px solid  var(--primary-color);
  padding: .8rem;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: all .4s ease;
}

.button-group span:hover {
  background-color: var(--primary-color);
}

.button-group span i {
  font-size: 1.5rem;
  color: var(--primary-color);
}

.button-group span:hover i{
  color: #fff;
}

.card-product:hover .button-group{
  z-index: 1;
  right: -1rem;
}


.content-card-product {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, min-content);
  row-gap: 1rem;
  font-size: 1.2rem;
}

.stars {
  margin-top: 2rem;
  grid-row: 1/2;
  grid-column: 1/-1;
}

.stars i {
  font-size: 1.3rem;
  color: var(--primary-color);
}

.content-card-product h3 {
  grid-row: 3/3;
  grid-column: 1/-1;

  font-weight: 400;
  font-size: 1.6rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.desc {
  font-size: 1.3rem;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.content-card-product h3:hover {
  color: var(--primary-color);
}

.add-cart {
  justify-self: start;
  border: 2px solid var(--primary-color);
  padding: 1rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all .4s ease;

  /* display: flex; */
  align-items: center;
  justify-content: center;
}

.add-cart:hover {
  background-color: var(--primary-color);
}

.add-cart i {
  font-size: 1.5rem;
  color: var(--primary-color);
}


.add-cart:hover i{
  color: #fff;
}


.content-card-product .price{
  justify-self: end;
  align-self: center;

  font-size: 1.4rem;
  font-weight: 600;
}

.content-card-product .price span {
  font-size: 1.1rem;
  font-weight: 400;
  text-decoration: line-through;
  color: #777;
  margin-left: .5rem;
}

  /* MEDIAQUERIES 768Ppx */ 

  @media (max-width: 768px) {
    .container-products {
      grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    }

    .container-options {
      align-items: center;
  
    }
  
    .container-options span {
      text-align: center;
      padding: 1rem 2rem;
    }
  }

  /* MEDIAQUERIES 468px */

@media (max-width: 468px) {
  html {
    font-size: 42.5%;
   }

   .container-options span {
    font-size: 1.8rem;
    padding: 1rem 1.5rem;
    font-weight: 500;
  }
  
  .container-products {
    grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr)); 
}
    }